@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

ul,
li,
dl {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

.menu {
  position: absolute;
  top: 55px;
  left: 0;
  width: 100%;
  z-index: 10;

  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 110px;
  }

  &-logo img {
    min-width: 200px;
  }

  &-list {
    display: flex;
    justify-content: flex-end;
    text-transform: uppercase;
    gap: 35px;

    &__item {
      font-weight: 400;
      font-size: 20px;

      a {
        text-decoration: none;
        color: #fff;
        position: relative;
        display: inline-block;
        transition: color 0.3s ease;

        &::after {
          content: '';
          position: absolute;
          left: 0;
          bottom: -5px;
          width: 0;
          height: 2px;
          background-color: #fff;
          transition: width 0.3s ease;
        }

        &:hover::after {
          width: 100%;
        }
      }

      &:last-child a {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform 0.3s ease, opacity 0.3s ease;

        &:hover {
          transform: scale(1.2);
        }

        img {
          transition: transform 0.3s ease;
        }

        &:hover img {
          transform: rotate(15deg);
        }

        &::after {
          content: none;
        }
      }
    }
  }
}

.promo {
  display: flex;
  justify-content: space-between;
  min-height: 696px;
  background-color: #ffffff;

  .promo-text {
    max-width: 50%;
    margin: 225px 0 0 185px;

    &__title {
      max-width: 415px;
      font-weight: 400;
      font-size: 60px;
      line-height: 60px;
      color: #000000;
    }

    &__subtitle {
      margin-top: 40px;
      font-weight: 400;
      font-size: 20px;
      line-height: 20px;
      text-transform: uppercase;
      color: #000;
    }

    &__btn {
      margin-top: 52px;
      padding: 14px 26px;
      background-color: #34b643;
      cursor: pointer;

      text-transform: uppercase;
      text-align: center;
      color: #fff;
      font-weight: 400;
      font-size: 20px;
      border: none;
      transition: all 0.3s ease;

      &:hover {
        background-color: #fdc305;
        color: #000;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      }
    }
  }

  .promo-bg {
    position: relative;
    max-width: 50%;

    &__img {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 552px;
    }
  }
}

.difference {
  justify-items: center;
  padding: 80px 110px;

  &-wrapper {
    display: flex;
    gap: 80px;
  }

  &__card {
    width: 570px;
    height: 374px;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    padding: 41px 51px 55px 52px;

    &-header {
      display: flex;
      align-items: center;
      gap: 62px;
    }

    &-circle {
      display: flex;
      justify-content: center;
      align-content: center;
      height: 100px;
      width: 100px;
      border-radius: 100%;
      background-color: #68b738;

      img {
        max-width: 134px;
      }
    }

    &-title {
      font-weight: 400;
      font-size: 36px;
      line-height: 36px;
      text-transform: uppercase;
    }

    &-descr {
      margin-top: 39px;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      max-width: 355px;
    }

    &-link {
      margin-top: 27px;
      display: flex;
      padding: 4px 0px;
      justify-content: space-between;
      width: 167px;
      height: 38px;
      text-decoration: none;

      p {
        font-weight: 400;
        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
        color: #000;
      }

      img {
        max-width: 32px;
        transition: transform 0.3s ease;
      }

      &:hover {
        img {
          transform: translateX(5px);
        }
      }
    }
  }
}

.expl {
  padding: 0 110px;

  &-header {
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }

  &-list {
    margin-top: 32px;
    display: flex;
    gap: 80px;
    align-items: center;
    justify-content: space-between;

    &__item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      width: 227px;
      min-height: 280px;
    }

    &__num {
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 1;

      font-weight: 400;
      font-size: 280px;
      line-height: 280px;
      color: #f2f2f2;
    }

    &__block {
      display: flex;
      justify-content: center;
      align-content: center;
      width: 80px;
      height: 80px;
      background-color: #68b738;

      img {
        max-width: 30px;
      }
    }

    &__descr {
      margin-top: 31px;
      position: relative;
      z-index: 2;
    }
  }
}

.example {
  position: relative;
  padding-top: 69px;

  &-cat {
    position: absolute;
    top: 35px;
    right: 74px;
    max-width: 635px;
  }

  &-header {
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    margin-left: 110px;
  }

  &-text {
    margin-top: 76px;
    min-height: 462px;
    background-color: #f2f2f2;
    padding: 70px 0 0 110px;

    &__wrapper {
      max-width: 380px;
    }

    &__descr {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #444444;
      margin-bottom: 30px;
    }

    &__stats {
      display: flex;
      gap: 42px;

      &-block {
        position: relative;
        width: 162px;
        height: 77px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px 30px;
        border: 2px solid #e0e0e0;
        border-radius: 12px;

        &::after {
          content: '';
          position: absolute;
          bottom: -2px;
          left: 50%;
          transform: translateX(-50%);
          width: 70px;
          height: 4px;
        }

        &__value {
          font-weight: 400;
          font-size: 25px;
          line-height: 37px;
          text-align: center;
          text-transform: uppercase;
        }

        &__label {
          position: absolute;
          bottom: -5px;
          left: 50%;
          transform: translateX(-50%);
          font-size: 14px;
          line-height: 14px;
          color: #444444;
          font-weight: 400;
          background-color: #f2f2f2;
          padding: 0 5px;
          text-align: center;
          width: 110px;
        }
      }
    }

    &__cost {
      margin-top: 64px;
      display: flex;
      gap: 64px;

      &-text {
        font-weight: 400;
        font-size: 20px;
        line-height: 20px;
        text-transform: uppercase;
      }

      &-number {
        font-weight: 400;
        font-size: 20px;
        line-height: 20px;
        text-transform: uppercase;
      }
    }
  }
}

.footer {
  height: 149px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;

  &-wrapper {
    width: 100%;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-logo {
    display: flex;
    align-items: center;

    &__image {
      min-width: 128px;
      height: auto;
    }
  }

  &-socials {
    display: flex;
    gap: 27px;
    justify-content: center;

    &__icon {
      width: 27px;
      height: 27px;
      transition: transform 0.3s ease, filter 0.3s ease;

      &:hover {
        transform: scale(1.2);
        filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.2));
      }
    }
  }
}
