@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

ul,
li,
dl {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

.container {
  padding: 0 110px;
}

.menu {
  margin: 53px 46px 0 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-list {
  width: 547px;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}

.menu-list__item {
  position: relative;
  font-weight: 400;
  font-size: 20px;
  color: #000;
}

.menu-list__item a {
  text-decoration: none;
  color: #000;
}

.promo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  position: relative;
  overflow: hidden;
}

.promo-text {
  max-width: 50%;
  z-index: 2;
}

.promo-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #68b738;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.promo-bg .promo-bg__img {
  width: 70%;
  transform: rotate(-10deg);
}

.promo-bg .promo-bg__cat {
  position: absolute;
  right: 20px;
  bottom: 20px;
  opacity: 0.2;
  width: 100%;
  height: auto;
}
